<%- model_class = AssemblyStep -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<% render(partial:'assembly_steps/index',locals:{assembly_steps:@assembly_steps}) %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_assembly_step_path,
            :class => 'btn btn-primary' %>
