<%= simple_form_for(@kicadnetlist, :html=>{:multipart=>true,:class=>'form-horizontal'}) do |f| %>

  <div class="span12">
  <%= f.input :tool %>
  <%= f.file_field :xml %>
  </div>
  <div class="span12">
  <div class="form-actions">
    <%= f.button :submit ,:class=>'btn btn-primary' %>
  </div>
  </div>
<% end %>
